<app-nav-tool></app-nav-tool>
<p>SERVICES</p>

<body>
  <div class="container">
    <div class="card">
      <div class="face face1">
        <div class="content">
          <h3>Frieght Forwarding</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <ul>
            <li>Air Frieght</li>
            <li>Ocean Frieght</li>
            <li>World wide Agency Network</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="face face1">
        <div class="content">
          <h3>3PL</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <ul>
            <li>In Plant Stores Operation</li>
            <li>Inventory Management and Audit</li>
            <li>Warehousing, Open Yard and Distribution</li>
            <li>Value Added Services</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="face face1">
        <div class="content">
          <h3>Transport</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <ul>
            <li>FTL/FCL - Full Load</li>
            <li>Over Dimensional Cargo (ODC)</li>
            <li>Multi Modal Transport</li>
            <li>Milk Run</li>
            <li>Transport - Network</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
