<app-nav-tool></app-nav-tool>
<div class="container">
  <div class="content">
    <div id="app">
      <div class="title">
        <div class="title-inner">
          <div class="cafe">
            <div class="cafe-inner">Chain-Sys</div>
          </div>
          <div class="mozart">
            <div class="mozart-inner">Cargo</div>
          </div>
        </div>
      </div>

      <div class="image">
        <img src="../../assets/images/7256365.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="flap"></div>
</div>
