<mat-nav-list>
  <div class="logo py-4">
    <img src="../../assets/images/cargologo.jpg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon></mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon></mat-icon> Dashboard
  </a>
  <a mat-list-item> <mat-icon></mat-icon> Customer </a>
  <a mat-list-item> <mat-icon></mat-icon> Drivers Entry</a>
  <a mat-list-item> <mat-icon></mat-icon> Cargo Truck </a>
  <a mat-list-item> <mat-icon></mat-icon> Drivers Entry</a>
  <a mat-list-item> <mat-icon></mat-icon> Create Load </a>
</mat-nav-list>
