<app-nav-tool></app-nav-tool>
<!-- <h1>About Us</h1>
<p>
  The strong relationship between growth in international trade and logistics
  infrastructure is widely acknowledged. As product life cycles have shortened
  and demand of rapid delivery has increased, the demand of air cargo
  transportation has grown significantly over the last few years. 35% of global
  trends moves by air in terms of value of goods, which represents almost US 6.4
  Trillion globally. Changing business environment where, speed to market is a
  competitive imperative, movement of inventory is no longer viewed as
  compartmentalized process.
</p>
<p>
  In fast growing countries like India an efficient logistics infrastructure
  acts as an economic catalyst contributing directly to the global
  competitiveness. . Indian market has maintained its growth momentum both in
  terms of passengers and cargo traffic with the rapid growth achieved in the
  recent years. India is poised to take big leap in manufacturing sector with
  make in India initiative, for which development of infrastructure and
  logistics play a vital role. Since it's inception Airports Authority of India
  has been pioneering the development of International cargo operations in the
  country at various metro and non metro airports. AAI has capability of
  handling needs of express and general cargo with facilities for temperature
  sensitive cargo, perishable, pharmaceutical and dangerous goods. Further to
  this Ministry of Civil Aviation is looking forward for developing domestic air
  cargo in the country by setting up common user domestic cargo terminals.
</p>
<p>
  Keeping in mind the current economic boom, the importance of air cargo and its
  impact on the overall economy of India, AAI proposed to demerge and
  corporatize the cargo department into functionally and administratively
  independent organization, which is professionally driven and responsive
  service enterprise. With a vision to become the foremost integrated logistics
  network in India, AAI Cargo Logistics and Allied Services Company Limited
  (AAICLAS) was incorporated on 11th August 2016. It will work as multi modal
  interface linking air, surface & water transport. Thus becoming the largest
  networked and fastest logistic solution provider company of India. AAICLAS
  will promote, represent, organize, undertake, establish, conduct, handle,
  arrange, own, operate, participate, facilitate, sponsor, encourage, and
  provide the business as Cargo Terminal Operator, Free Trade Zone, Air Freight
  Station and Inland container depot for cargo and passengers.
</p> -->
<!-- Modal1 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>

        <div class="signin-form profile">
          <h3 class="agileinfo_sign">Sign In</h3>
          <div class="login-form">
            <form action="#" method="post">
              <input
                type="email"
                name="email"
                placeholder="E-mail"
                required=""
              />
              <input
                type="password"
                name="password"
                placeholder="Password"
                required=""
              />
              <div class="tp">
                <input type="submit" value="Sign In" />
              </div>
            </form>
          </div>
          <div class="login-social-grids">
            <ul>
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-rss"></i></a>
              </li>
            </ul>
          </div>
          <p>
            <a href="#" data-toggle="modal" data-target="#myModal3">
              Don't have an account?</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //Modal1 -->
<!-- Modal2 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>

        <div class="signin-form profile">
          <h3 class="agileinfo_sign">Sign Up</h3>
          <div class="login-form">
            <form action="#" method="post">
              <input
                type="text"
                name="name"
                placeholder="Username"
                required=""
              />
              <input
                type="email"
                name="email"
                placeholder="Email"
                required=""
              />
              <input
                type="password"
                name="password"
                placeholder="Password"
                required=""
              />
              <input
                type="password"
                name="password"
                placeholder="Confirm Password"
                required=""
              />
              <input type="submit" value="Sign Up" />
            </form>
          </div>
          <p><a href="#"> By clicking register, I agree to your terms</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //Modal2 -->

<div class="inner_main_agile_section">
  <div class="container">
    <h6>What makes us different</h6>
    <h3 class="w3l_header w3_agileits_header">About <span>Us</span></h3>
    <p class="sub_para_agile two">
      Ipsum dolor sit amet consectetur adipisicing elit
    </p>

    <div class="agile_inner_grids">
      <div class="col-md-6 w3_agileits_about_grid_left">
        <p>
          Duis turpis arcu, dictum eu tincidunt id, congue vel urna. Quisque
          posuere, ipsum eu faucibus cursus, ex tortor elementum leo, eget
          varius lorem quam a nisl. Mauris ut enim sed tortor auctor luctus at
          vitae est.<span
            >Duis dignissim auctor rhoncus. Curabitur diam lorem, ultricies eu
            pellentesque sed, elementum sodales urna. Pellentesque molestie
            maximus nisl at ultrices.</span
          >
        </p>
        <ul>
          <li>
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>Same Day
          </li>
          <li>
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>Counter to
            Counter
          </li>
          <li>
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>Next Flight
            Out (NFO)
          </li>
          <li>
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>3-5 Day
            Economy Deferred
          </li>
        </ul>
      </div>
      <div class="col-md-6 w3_agileits_about_grid_right">
        <div id="chart">
          <ul id="numbers">
            <li><span>100%</span></li>
            <li><span>90%</span></li>
            <li><span>80%</span></li>
            <li><span>70%</span></li>
            <li><span>60%</span></li>
            <li><span>50%</span></li>
            <li><span>40%</span></li>
            <li><span>30%</span></li>
            <li><span>20%</span></li>
            <li><span>10%</span></li>
            <li><span>0%</span></li>
          </ul>
          <ul id="bars">
            <li>
              <div data-percentage="56" class="bar"></div>
              <span>Option 1</span>
            </li>
            <li>
              <div data-percentage="33" class="bar"></div>
              <span>Option 2</span>
            </li>
            <li>
              <div data-percentage="54" class="bar"></div>
              <span>Option 3</span>
            </li>
            <li>
              <div data-percentage="94" class="bar"></div>
              <span>Option 4</span>
            </li>
            <li>
              <div data-percentage="44" class="bar"></div>
              <span>Option 5</span>
            </li>
            <li>
              <div data-percentage="23" class="bar"></div>
              <span>Option 6</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
