<h1>About Us</h1>
<p>
  The strong relationship between growth in international trade and logistics
  infrastructure is widely acknowledged. As product life cycles have shortened
  and demand of rapid delivery has increased, the demand of air cargo
  transportation has grown significantly over the last few years. 35% of global
  trends moves by air in terms of value of goods, which represents almost US 6.4
  Trillion globally. Changing business environment where, speed to market is a
  competitive imperative, movement of inventory is no longer viewed as
  compartmentalized process.
</p>
<p>
  In fast growing countries like India an efficient logistics infrastructure
  acts as an economic catalyst contributing directly to the global
  competitiveness. . Indian market has maintained its growth momentum both in
  terms of passengers and cargo traffic with the rapid growth achieved in the
  recent years. India is poised to take big leap in manufacturing sector with
  make in India initiative, for which development of infrastructure and
  logistics play a vital role. Since it's inception Airports Authority of India
  has been pioneering the development of International cargo operations in the
  country at various metro and non metro airports. AAI has capability of
  handling needs of express and general cargo with facilities for temperature
  sensitive cargo, perishable, pharmaceutical and dangerous goods. Further to
  this Ministry of Civil Aviation is looking forward for developing domestic air
  cargo in the country by setting up common user domestic cargo terminals.
</p>
<p>
  Keeping in mind the current economic boom, the importance of air cargo and its
  impact on the overall economy of India, AAI proposed to demerge and
  corporatize the cargo department into functionally and administratively
  independent organization, which is professionally driven and responsive
  service enterprise. With a vision to become the foremost integrated logistics
  network in India, AAI Cargo Logistics and Allied Services Company Limited
  (AAICLAS) was incorporated on 11th August 2016. It will work as multi modal
  interface linking air, surface & water transport. Thus becoming the largest
  networked and fastest logistic solution provider company of India. AAICLAS
  will promote, represent, organize, undertake, establish, conduct, handle,
  arrange, own, operate, participate, facilitate, sponsor, encourage, and
  provide the business as Cargo Terminal Operator, Free Trade Zone, Air Freight
  Station and Inland container depot for cargo and passengers.
</p>
