<app-usernav></app-usernav>
<div class="card m-3">
  <div class="card1">
    <div class="text-center">
      <h1>Booking Information</h1>
    </div>
    <br />
    <div class="card-body">
      <form [formGroup]="bookingForm" (ngSubmit)="book(this.bookingForm.value)">
        <div class="form-group">
          <label>Departure Place</label>
          <select
            name="departure"
            formControlName="departure"
            class="form-control"
          >
            <option value="">Select location</option>

            <option *ngFor="let locate of locationlist" [ngValue]="locate._id">
              {{ locate.location }}
            </option>
          </select>

          <div
            *ngIf="f.departure.touched && f.departure.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.departure.errors.required" class="alert alert-danger">
              Departure place is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Destination Place</label>
          <select
            name="destination"
            formControlName="destination"
            class="form-control"
          >
            <option value="">Select Destination</option>
            <option *ngFor="let locate of locationlist" [ngValue]="locate._id">
              {{ locate.location }}
            </option>
          </select>
          <div
            *ngIf="f.departure.touched && f.departure.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.departure.errors.required" class="alert alert-danger">
              Destination place is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Item Name</label>
          <input
            type="text"
            formControlName="itemName"
            class="form-control"
            placeholder="Enter item name that you would like to transport through cargo"
            [ngClass]="{
              'is-invalid': f.itemName.touched && f.itemName.errors
            }"
          />
          <div
            *ngIf="f.itemName.touched && f.itemName.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.itemName.errors.required" class="alert alert-danger">
              Item Name is required
            </div>
          </div>
        </div>
        <h1>Personal details</h1>
        <div class="form-group col-5">
          <label>Full Name</label>
          <input
            type="text"
            formControlName="fullName"
            class="form-control"
            [ngClass]="{
              'is-invalid': f.fullName.touched && f.fullName.errors
            }"
          />
          <div
            *ngIf="f.fullName.touched && f.fullName.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.fullName.errors.required" class="alert alert-danger">
              full Name is required
            </div>
          </div>
        </div>
        <div class="form-group col">
          <label>Email</label>
          <input
            type="text"
            formControlName="email"
            class="form-control"
            [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }"
          />
          <div
            *ngIf="f.email.touched && f.email.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.email.errors.required" class="alert alert-danger">
              Email is required
            </div>
            <div *ngIf="f.email.errors.email" class="alert alert-danger">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label>Phone number</label>
            <input
              type="phonenumber"
              formControlName="phonenumber"
              class="form-control"
              [ngClass]="{
                'is-invalid': f.phonenumber.touched && f.phonenumber.errors
              }"
            />
            <div
              *ngIf="f.phonenumber.touched && f.phonenumber.errors"
              class="invalid-feedback"
            >
              <div
                *ngIf="f.phonenumber.errors.required"
                class="alert alert-danger"
              >
                Phonenumber is required
              </div>
              <div *ngIf="f.phonenumber.errors.pattern">
                <div *ngIf="f.phonenumber.errors.minlength">
                  <div
                    *ngIf="f.phonenumber.errors.maxlength"
                    class="alert alert-danger"
                  >
                    > Phonenumber must have 10 numbers
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="text-center">
          <button
            type="submit"
            class="btn btn-primary mr-1"
            [disabled]="!bookingForm.valid"
          >
            Request Booking
          </button>
          <button class="btn btn-secondary" type="reset" (click)="onReset()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
