<mat-toolbar>
  <mat-toolbar-row class="justify-content-between">
    <button mat-icon-button (click)="toggleSidebar()">
      <!-- <mat-icon>Menu</mat-icon> -->
      <img
        src="../../assets/images/menu.png"
        alt=""
        class="user-image mr-1 p-2"
        alt="menu"
      />
    </button>
    <div class="row mr-2 ml-auto">
      <ul class="row m-0 align-items-center">
        <li>
          <button
            mat-button
            [matMenuTriggerFor]="menu"
            class="user mt-2 d-flex align- items-center"
          >
            <!-- <img
              src="../../assets/images/menu.png"
              alt=""
              class="user-image mr-1 p-2"
              alt="menu"
            /> -->

            <h1>CARGO TRANSPORTATION</h1>
            <mat-icon class="user-image-icon ml-1"></mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon></mat-icon>
              Logout
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
