<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Chain-sys Cargo</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/booking-form">Book Cargo</a></li>
      <li><a routerLink="/customer-status">Booking List</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a role="button" (click)="logout()"
          ><span class="glyphicon glyphicon-log-in"></span> Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
